
<% if(req.session.user) {%>

	<h2>Welcome <%= req.session.user.username %></h2>

	<div id="newMessageForm">
		<textarea id="message" placeholder="Write your message here:"></textarea>
		<button id="postButton">Chat to</button>
	</div>

	<div id="messageContainer">
	</div>

	<script>
		var MessageModel = Backbone.Model.extend({
			urlRoot: '/messages' , 
		});

		var MessageCollection = Backbone.Collection.extend({
			url: '/messages' , 
			model: MessageModel , 
		});

		var messages = new MessageCollection();
		messages.fetch();

		$("#postButton").on('click' , function(){
				var messageText = $("#message").val();

				messages.create({action: "create", message: messageText} , {wait: true});
				
				$("#message").val("");
		});	

	_.templateSettings = {
		evaluate: /\{\%(.+?)\%\}/g,
    	interpolate: /\{\{(.+?)\}\}/g
	};

	var MessageView = Backbone.View.extend({
		el: "#messageContainer" , 
		initialize: function() {
			this.collection.on('add', this.render ,this);
			this.render();
		},
		template: _.template("<div><p>{{ username }}: {{ message }}</p></div>")
		,
		render: function() {
			this.$el.html("");
			this.collection.each(function(msg){
				console.log(msg.toJSON());
				this.$el.append(this.template(msg.toJSON()));
			}, this);
		}
	});

	var mView = new MessageView({collection: messages});
	</script>

<% }else {%>

<a href="/">Login</a>

<% }%>